body{
    background-color: rgba(185, 181, 59, 0.811);
}

canvas{

    margin-top: 30px;
    border-style: groove;
    border-width: 2px;
    border-color:cornflowerblue;
    border-radius: 2rem;
    border-block-end-style: outset;
    border-spacing: 1rem;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    
}

@keyframes example{
    from{box-shadow: 1px 1px 45px rgb(18, 6, 241);}
    to{box-shadow: 1px 1px 55px rgba(203, 27, 27, 0.592);}
}

#sketch_show{
    
    
    float: right;

    
}